:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 1em;
}

.tracaList {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.5em;
}

.traca {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    /* border-radius: 1em; */
    /* border: 2px solid rgb(2, 132, 184); */
    /* margin-bottom: 1em; */
    /* padding: 0.5em; */
}

.firstRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row2 {
    display: flex;
    flex-direction: column;
    /* row-gap: 0.5em; */
}

.cVSnc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    /* margin: 1em; */
}

.mat-button-toggle-checked[value='1'] {
    background-color: green;
}

.mat-button-toggle-checked[value='0'] {
    background-color: red;
}

img {
    width: 3em;
}

.ok.selected {
    color: rgb(0, 202, 61);
}

.nok.selected {
    color: red;
}

.comm {
    height: 5em;
    width: 100%
}

table thead td {
    text-transform: uppercase;
    /* padding: 1em; */
}

table tbody tr.conf {
    color: rgb(0, 202, 61);
    font-weight: bold;
}

table {
    border-radius: 0.5em;
    border-collapse: collapse;
    overflow: hidden;
    /* border: 2px solid rgba(0, 13, 36, 0.8); */
}

thead {
    background-color: rgba(0, 13, 36, 0.8);
    text-align: center;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

tbody {
    color: rgb(0, 13, 36);
    background-color: rgba(215, 215, 255);
}

tbody tr td {
    /* padding: 0.5em; */
    text-align: center;
}

.material-icons {
    transform: scale(3);
}

button {
    width: 100%;
    text-transform: uppercase;
}

.scan {
    border: red dashed 0.2em;
    border-radius: 0.5em;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}