<div class="traca-container">
    <!-- <div class="top">
        <div class="title">
            <img src="assets/img/lock_black.svg" alt="" *ngIf="tracaList.prodTraca">
            <div>Traçabilité</div>
        </div>
        <div class="role" *ngIf="role==2">Qualité</div>
    </div> -->
    <div class="tracaInstruction">{{tracaList.TEXTE_INSTRUCTION}}</div>
    <div class="traca-type-container" [ngSwitch]="tracaList.TYPE_TRACA">
        <app-autocontrole [scannedTool]="scannedTool" *ngSwitchCase="1" [step]="step" [currentStep]="currentStep" [tracas]="tracaList.TRACA_DETAILS" [enabledTraca]="enable" (emitTraca)="tracaDone($event)" (emitCommentAreaStatus)="toggleQrCodeInputAutoFocus($event)">
        </app-autocontrole>
        <app-material *ngSwitchCase="2" [tracas]="tracaList.TRACA_DETAILS" [currentStep]="currentStep" [enabledTraca]="enable" [scannedMat]="scannedMat"></app-material>
        <app-thickness *ngSwitchCase="4" [tracas]="tracaList"></app-thickness>
        <!-- <app-material *ngSwitchCase="2" [subOperation]="subOperation" [tracas]="tracaList.TRACA_DETAILS"
            [matInput]="tracaInput" [enableTraca]="enable"></app-material>
        <app-thickness *ngSwitchCase="4" [subOperation]="subOperation" [tracas]="tracaList"></app-thickness> -->
        <app-workorder *ngSwitchCase="3" [scannedOf]="scannedOf" [currentStep]="currentStep" [tracas]="tracaList.TRACA_DETAILS" [enabledTraca]="enable" (emitTraca)="tracaDone($event)">
        </app-workorder>
    </div>

</div>