:host {
    min-width: 50%;
    /* max-height: 90%; */
    /* height: 100%; */
    overflow: hidden;
    font-size: 1.5em;
    /* padding: 1em; */
}

img {
    transform: scale(1.5);
}

.traca-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    overflow: auto;
    height: 100%;
    /* overflow-y: scroll; */
}

.traca-type-container {
    /* height: 100%; */
    overflow-y: auto;
}

.role {
    color: rgb(230, 0, 50);
    font-weight: bold;
    text-decoration: underline;
}