<form [formGroup]="measureToolForm" novalidate class='request-form'>
    <div>Spécification de besoin outillage</div>
    <div class="form-group">
        <label>Numéro d'OT</label>
        <input type="text" class="form-control" formControlName="toolNumber" (change)="controlTool()">
        <div *ngIf="getControl.toolNumber.touched && getControl.toolNumber.invalid" class="text-danger">
            <div *ngIf="getControl.toolNumber.errors.required">Le numéro d'outillage est obligatoire</div>
            <div *ngIf="getControl.toolNumber.errors?.minlength">8 charactères minimum sont requis</div>
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" [placeholder]="'Text descriptif de la demande : .....'" formControlName="description"></ngx-editor>
        </div>
        <div *ngIf="getControl.description.touched && getControl.description.invalid" class="text-danger">
            <div *ngIf="getControl.description.errors.required">La description des travaux est obligatoire</div>
        </div>
    </div>

    <button mat-raised-button (click)="uploadImage()">Ajouter image</button>
    <div class="form-group">
        <label>Date de besoin</label>
        <input type="datetime-local" class="form-control" formControlName="dateBesoin">
        <div *ngIf="getControl.dateBesoin.touched && getControl.dateBesoin.invalid" class="text-danger">
            <div *ngIf="getControl.dateBesoin.errors.required">Entrez une date de besoin</div>
        </div>
    </div>

    <button [disabled]="measureToolForm.invalid" (click)="onSubmit()" class="btn btn-danger btn-block" type="button">Lancer demande</button>
    <button mat-raised-button (click)="exportAsPdf('divToExport',toolNumber)">export pdf</button>

</form>