<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="content">
    <div class="icon">
        <img src="assets/img/warning.svg" alt="Alerte">
    </div>
    <div class="details">
        <strong class="message">
            {{data.message}}
        </strong>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial *ngIf="data.type=='alert'">Compris</button>
    <button mat-button mat-dialog-close cdkFocusInitial *ngIf="data.type=='yesNo'">YES</button>
    <button mat-button mat-dialog-close cdkFocusInitial *ngIf="data.type=='yesNo'">NO</button>
</mat-dialog-actions>