<!-- <img src="assets/img/flask.svg" alt="Image bouclier qualité"> -->
<!-- <input type="text" name="" #inputMat style="position: absolute; top:0;left:-100em" (change)="materialAction($event.target)" *ngIf="!enableTraca"> -->
<div class="table">
    <table>
        <thead>

            <tr>
                <th colspan="2">ARTICLE</th>
                <th colspan="2">Matière scannée</th>
            </tr>
            <tr>
                <th>Code SAP</th>
                <th>Désignation</th>
                <th>Numéro de lot</th>
                <th>Date de péremption</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let traca of tracas" class="idArticle{{traca.ARTICLE}}">
                <app-material [traca]=traca></app-material>

            </tr>
        </tbody>
    </table>
</div>

<button mat-raised-button color="primary" (click)="recordTraca()" [disabled]="!enabledTraca">
    enregistrer la traçabilité
  </button>
<button mat-raised-button color="primary" (click)="updateTracaMatiere()" *ngIf="!enabledConf && (user.ROLE=='2' || user.ROLE=='1')">
    enregistrer les modifications
    </button>