.subOpRow {
    display: flex;
    justify-content: flex-start;
    color: rgb(0, 13, 36);
}
.steps {
    display: flex;
    column-gap: 0.5em;
    margin: 1em;
}
.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    padding: 0.3em;
    border-radius: 0.3em;
    background-color: salmon;
}
.newStep {
    color: salmon;
    background-color: inherit;
    border: salmon dashed 0.1em;
}
.edit {
    display: none;
}
div:hover > .edit {
    display: flex;
}
