.opSapRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.opSapOrdre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}
.numOp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: sandybrown;
}
.opSapName {
    width: 60%;
}
.editOpSapName {
    width: 20%;
}
.edit {
    display: flex;
}
.opSapRow:hover .edit {
    display: flex;
}
.group {
    margin-top: 1em;
    margin-left: 4em;
    color: rgb(0, 13, 36);
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 0.5em;
}
