<!-- <img src="assets/img/build.svg" alt="Image mur construction"> -->
<!-- {{currentStep.TRACA.TEXTE_INSTRUCTION}} -->

<!-- <input type="text" name="" #inputOf style="position: absolute; top:0;left:-100em" (change)="ofAction($event.target)"> -->
<div class="tracaDetails" *ngIf="tracas">
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Designation</th>
                <th>Qté</th>
                <th>OF</th>
                <th>Corriger</th>
            </tr>
        </thead>
        <tbody>
            <!-- [ngStyle]="{'color':tracaDetail.prodTracaDetail.OF ? 'rgb(0, 202, 61)' : '' }" -->
            <tr class="{{(tracaDetail.prodTracaDetail.SANCTION)?'conf':''}}" *ngFor="let tracaDetail of tracas;index as i">
                <td>{{tracaDetail.ARTICLE}}</td>
                <td>{{tracaDetail.DETAIL_ARTICLE.Designation}}</td>
                <td>{{tracaDetail.QUANTITE}}</td>
                <td class="ofNumber" *ngIf="tracaDetail.prodTracaDetail.OF">{{tracaDetail.prodTracaDetail.OF.join(', ')}}</td>
                <td (click)="removeOf(tracaDetail)" class="img-delete" *ngIf="enabledTraca">
                    <img src="assets/img/poub_daher_bleue-03.png" (mouseout)="toggleDelete($event.target)" (mouseover)="toggleDelete($event.target)" alt="">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button mat-raised-button color="primary" (click)="recordTraca()" [disabled]="!enabledTraca">
    enregistrer la traçabilité
  </button>
<button mat-raised-button color="primary" (click)="updateTraca()" *ngIf="!enabledTraca && (user.ROLE=='2' || user.ROLE=='1')">
    enregistrer les modifications
  </button>