:host {
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    max-height: 10%;
}

.title {
    display: flex;
    font-size: 2em;
}

img {
    width: 2em;
}

.divTxt {
    text-transform: uppercase;
}

.subOperations {
    /* background-color: #fafafa; */
    /* background-color: rgba(255, 255, 255, 0.85); */
    border-radius: 0.5em;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

@media (max-width: 900px) {
    .subOperations {
        flex-direction: row;
    }
    .step-contener-content {
        border: none;
        overflow-y: scroll;
    }
    .button-conf :last-child {
        display: none;
    }
    .subOperation-title {
        display: none;
    }
    .topSubOpe {
        flex-direction: column;
    }
    .rh-side {
        flex-direction: column;
    }
}

.topSubOpe {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
    height: min-content;
    align-items: center;
}

.lh-side,
.rh-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
}

.subOperation-title {
    height: fit-content;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.listUser {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-auto-flow: column;
    column-gap: 0.5em;
}

.step-contener {
    display: flex;
    flex-direction: column;
    /* margin-top: 1em; */
    column-gap: 2em;
    height: 100%;
    overflow: hidden;
}

.tracaUser {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.step-contener-content {
    display: flex;
    /* padding-top: 1em; */
    /* padding: 0 2em; */
    column-gap: 2em;
    height: 100%;
    /* overflow: hidden; */
    justify-content: space-between;
}

.general-info {
    text-align: center;
    color: rgb(230, 0, 50);
    /* background-color: rgba(255, 255, 255, 0.85); */
}

.subOperation-traca {
    min-width: 40%;
    height: 100%;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
}

.tabGroup {
    height: 100%;
    justify-content: space-around;
}

.tab {
    height: 100%;
}

.mat-tab-body-wrapper {
    height: 100%;
}

.mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}

@media (max-width: 1366px) {
    .step-contener-content {
        display: flex;
        flex-direction: column;
        /* border-bottom: solid 0.5em rgb(0, 13, 36); */
    }
}

.tab-label {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
}

.button-conf {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    align-items: center;
}