:host {
    width: 100%;
}

.router-container {
    position: absolute;
    top: 50px;
    /* height: calc(100% - 80px); */
    height: 100%;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 900px) {
    .router-container {
        height: calc(100% - 50px);
    }
}