:host {
    max-width: 80%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* overflow-y: auto; */
}

img {
    max-width: 100%;
    object-fit: contain;
    /* margin: 0.5em; */
    max-height: 90%;
}

.title {
    align-self: baseline;
    font-size: 2em;
}

p {
    font-size: 1.5em
}