:host {
    max-width: 80%;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    /* overflow-y: auto; */
}

img {
    max-width: 100%;
    object-fit: contain;
    /* margin: 0.5em; */
    max-height: 90%;
}

.title {
    font-size: 2em;
}

p {
    font-size: 1.5em
}