<h4 mat-dialog-title>Connection compagnon supplémentaire</h4>
<mat-dialog-content>
    <h3>Scanner le QR CODE du badge</h3>
    <!-- <p>Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p> -->
    <input type="text" name="" #inputQrCode style="position: absolute; top:0;left:-100em" (change)="scanAction($event.target.value)">
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->
