.specification {
    width: 29.7cm;
    height: 21.0cm;
    padding: 10mm;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
}

table th {
    text-align: center;
}

.header-first-row,
.header-second-row,
.header-third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ref-doc {
    display: flex;
    flex-direction: column;
}

.refOT {
    font-size: 1em;
}

.table-interch td {
    width: 4em;
    border: solid black 0.5px;
}

.table-refOT td {
    width: 20em;
    border: solid black 0.5px;
}

.def,
.header,
.footer {
    width: 100%
}

.table-def,
.table-footer {
    width: 100%;
}

.table-def td,
.table-def th {
    border: solid black 0.5px;
}

.title {
    width: inherit;
    text-align: center;
    font-weight: 600;
}

.footer table td {
    text-align: center;
    height: 1.5em;
    width: 2em;
    border: solid black 0.5px;
}

.footer tr:nth-child(1) td,
.footer tr:nth-child(3) td {
    text-align: left;
    border: none;
}

.footer {
    margin-top: 2em;
    height: min-content;
}

.def {
    height: auto;
}

.title-fr,
.title-en {
    font-size: 0.8em
}

.en {
    color: red;
    font-size: 0.7em
}