.instruction {
    background-color: rgba(255, 255, 255, 0.8);
    border: var(--perso-color-rougeDaher) solid 0.2em;
    border-radius: 1em;
    padding: 2em;
    color: var(--perso-color-bleuDaher);
    font-weight: bold;
    font-size: 2em;
}

.states {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    column-gap: 1em;
}

.state {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    border: solid 0.2em gray;
    padding: 2em;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.of,
.doc {
    flex-direction: column;
}

.ofInfo,
.docProcessInfo {
    font-size: 0.9em
}

.green {
    background: green;
}