<input type="text" name="" #inputOf id="scan-input" (change)="sendScanInput($event.target)" style="position: absolute; top:0;left:-100em">
<div class="instruction">Scannez le QR code de l'OF puis scannez le document à l'opération</div>
<div class="states">
    <div class="of state">
        <div>OF</div>
        <div class="ofInfo" *ngIf="scannedOfInfo">
            <div>Article : {{scannedOfInfo.article}}</div>
            <div>Designation : {{scannedOfInfo.designation}}</div>
            <div>OF : {{scannedOfInfo.workorder}}</div>
            <div>Prénom de la pièce : {{scannedOfInfo.partName}}</div>
        </div>
    </div>
    <div class="doc state">Document</div>
</div>