.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4em;
}

.left-pan {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
}

.right-pan {
    width: 25%;
}

.first-row {
    display: flex;
    justify-content: space-between;
}

.content>* {
    /* border: solid 0.3em deepskyblue; */
    /* background-color: rgba(90, 90, 146, 0.35); */
    /* border-radius: 1em; */
    padding: 1em;
}

.details {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em 1em 0 1em;
}

.row-1 {
    display: flex;
    justify-content: space-evenly;
}

.row-2 {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.field-line {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.label {
    font-weight: bold;
}

.details-with-img {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.request-need-date {}

.description {
    border: #3f51b5 solid 2px;
    border-radius: 1em;
    padding: 2em;
}

.img {
    text-align: center;
}

.title-pan {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline red;
}

.requestor {}

.toolDet {}

.request-decription {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.request-tooling-comment {}

.command {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side-command,
.right-side-command {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 1em;
}

.command :last-child {}