<div class="content">

    <div class="requestor work-pan">
        <div class="title-pan">Demandeur :</div>
        <div class="details">
            <div class="name" *ngIf="!editModeActive">Nom :{{toolRequest.requestor.firstName}} {{toolRequest.requestor.lastName}}</div>
            <div class="user">Secteur : {{toolRequest.requestor.sector.sector}} Role : {{(toolRequest.requestor.role.role)}}</div>
            <mat-form-field appearance="fill" *ngIf="editModeActive">
                <mat-label>Demandeur :</mat-label>
                <mat-select [formControl]="requestUser" placeholder="Sélectionner le demandeur" [(value)]="selectedRequestUser">
                    <mat-option *ngFor="let user of usersList" [value]="user.ID_UTILISATEUR">
                        {{user.NOM}} {{user.PRENOM}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="request-date" *ngIf="!editModeActive">Date de la demande : {{toolRequest.getRequestDate() | date: "dd/MM/YYYY"}}</div>
            <mat-form-field appearance="fill" *ngIf="editModeActive">
                <mat-label>Choisir la date de la demande</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="requestDate" [(ngModel)]="selectedRequestDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="toolDet work-pan" *ngIf="toolRequest">
        <div class="title-pan">Outillage : </div>
        <div class="details">
            <div>Numéro SAP : OT{{toolRequest.getTool().sapNumber}}</div>
            <div>Numéro d'identification : {{toolRequest.getTool().identification}}</div>
            <div>Désignation : {{toolRequest.getTool().designation}}</div>
            <div>Programme avion : {{toolRequest.getTool().aircraftProgram.program}}</div>
        </div>
    </div>
    <div class="request-decription work-pan">
        <div class="title-pan">Description :</div>
        <div class="details-with-img">
            <div class="request-need-date">Date de besoin : {{toolRequest.getNeedDate() | date: "dd/MM/YYYY"}}</div>
            <div class="description" [innerHTML]="sanitizer.bypassSecurityTrustHtml(toolRequest.getRequestDescription())"></div>
            <div class="img" *ngIf="toolRequest.getImgName()"><img src="assets/img/TOOLING/{{toolRequest.getImgName()}}" alt="img" [width]="500"></div>
        </div>
    </div>
    <div class="request-tooling-comment work-pan">
        <div class="title-pan">Equipe outillage :</div>

        <div class="details">
            <div class="affectedTo">
                <div *ngIf="!editModeActive">Affecté à : {{toolRequest.getAffectedTo().lastName}} {{toolRequest.getAffectedTo().firstName}}</div>
                <mat-form-field appearance="fill" *ngIf="editModeActive">
                    <mat-label>Affecté à :</mat-label>
                    <mat-select [formControl]="affectedUser" placeholder="affecté à" [(value)]="selectedAffectedUser">
                        <mat-option *ngFor="let toolUser of toolTeam" [value]="toolUser">
                            {{toolUser.lastName}} {{toolUser.firstName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Commentaires équipe outillage</mat-label>
                <textarea matInput placeholder="Ecrire ici" [formControl]="toolingCom"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fait par :</mat-label>
                <mat-select [formControl]="userReal" placeholder="opérateur" [(ngModel)]="selectedRealUser">
                    <mat-option *ngFor="let operateur of operators" [value]="operateur.matricule">
                        {{operateur.nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="command">
        <div class="left-side-command"><button mat-raised-button>PDF</button>
            <button mat-raised-button (click)="switchEditMode()">Editer</button>
            <button mat-raised-button>STAND BY</button>
            <button mat-raised-button (click)="updateRequestClick()">SAUVEGARDER</button>
        </div>
        <div class="right-side-command">
            <button mat-raised-button *ngIf="!editModeActive" (click)="finishRequestClick()" color="primary">SAUVEGARDER & TERMINER</button>
        </div>

    </div>
</div>