.tooling-container {
    width: 100%;
    height: calc(100% - 40px);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.test {
    position: absolute;
    /* height: calc(100% - 40px); */
    /* height: auto; */
    /* overflow: scroll; */
    width: calc(100% - 40px);
}