<!-- <img src="assets/img/flask.svg" alt="Image bouclier qualité"> -->
<!-- <input type="text" name="" #inputMat style="position: absolute; top:0;left:-100em" (change)="materialAction($event.target)" *ngIf="!enableTraca"> -->
<div class="table">
    <table>
        <thead>

            <tr>
                <th colspan="2">ARTICLE</th>
                <th colspan="2">Matière scannée</th>
            </tr>
            <tr>
                <th>Code SAP</th>
                <th>Désignation</th>
                <th>Numéro de lot</th>
                <th>Date de péremption</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let traca of tracas">
                <td>{{traca.matInfo.ARTICLE_SAP}}</td>
                <td>{{traca.matInfo.DESIGNATION_SIMPLIFIEE}}</td>
                <td *ngIf="traca.prodTracaDetail.MAT" class="{{traca.ARTICLE}}">{{traca.prodTracaDetail.MAT.NUMERO_DE_LOT}}</td>
                <td *ngIf="traca.prodTracaDetail.MAT" class="{{traca.ARTICLE}}">{{traca.prodTracaDetail.MAT.DATE_DE_PEREMPTION}}</td>
                <td *ngIf="!traca.prodTracaDetail.MAT" colspan="2">
                    <div class="scan">Scanner une matière</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button mat-raised-button color="primary" (click)="recordTraca()" [disabled]="!enabledConf">
    enregistrer la traçabilité
  </button>
<button mat-raised-button color="primary" (click)="updateTracaMatiere()" *ngIf="!enabledConf && (user.ROLE=='2' || user.ROLE=='1')">
    enregistrer les modifications
    </button>