img {
    width: 3em;
}

.table {
    padding: 1em;
    border: 2px solid rgb(2, 132, 184);
    margin-top: 2em;
    border-radius: 1em;
}

table {
    border-radius: 0.5em;
    border-collapse: collapse;
    overflow: hidden;
    border: 2px solid rgba(0, 13, 36, 0.8);
}

thead {
    background-color: rgba(0, 13, 36, 0.8);
    color: white;
    text-align: center;
}

tbody {
    color: rgb(0, 13, 36);
    background-color: rgba(215, 215, 255);
}

.conf {
    color: rgb(0, 202, 61);
}

thead tr th {
    padding: 0.5em;
}

tbody tr td {
    padding: 0.5em;
}

button {
    width: 100%;
    text-transform: uppercase;
}

.scan {
    border: red dashed 0.2em;
    border-radius: 0.5em;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}