<h2 mat-dialog-title>INFO</h2>
<mat-dialog-content class="content">
    <div class="icon">
        <img src="assets/img/warning.svg" alt="">
    </div>
    <div class="details">
        <strong class="message">
           Importer la liste des OF lancés. Le template modèle se trouve à cet emplacement :
        </strong>
        <div>
            <a target="_blank" href="assets/autres/Template%20Etiquette%20ELEVATOR%20-%20CSV.csv" download>Lien</a>
        </div>
        <div>
            <span>Remplir le fichier puis l'importer en cliquant sur "Choisir un fichier". Une fois l'importation terminée préparer le papier étiquette dans le bac de l'imprimante. Lancer l'impression des étiquettes en cliquant sur "Lancer et imprimer".</span>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Compris</button>
</mat-dialog-actions>