html,
body {
    margin: 0;
    padding: 0;
}

:host {
    height: 297mm;
    width: 210mm;
    display: table;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 7.2mm;
    padding-right: 7.2mm;
    box-sizing: unset;
}

:host > * {
    padding-right: 2.5mm;
    display: inline-block;
}

:host > *:nth-child(3n) {
    padding: 0;
    /* page-break-after: always; */
}

.sticker {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 67.5mm;
    height: 35.9mm;
    box-sizing: content-box;
}

.sticker > *:first-child {
    text-align: center;
    justify-self: center;
    padding: 4mm;
}

.sticker > *:nth-child(2) {
    padding: 8mm 2mm;
}
.stickersCol {
    margin-top: 13.1mm;
    margin-bottom: 12.1mm;
    box-sizing: content-box;
}
.qrCode {
    max-width: 25mm;
}
